.container {
    margin: 0;
}


div#pjax-container {
    justify-content: flex-start;
    padding: 0;
    margin-left: 0;
    background-color: #ffff;

    

    
}

div#content {
    background-color: white;
  }


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(248, 249, 250, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  

#header {
    justify-content: space-between;
    
}

#agent-items-nav li {
    padding: .6rem;
    border-bottom: solid .6px #E4E4E4;
}

.jb-overflowmenu {
    width: 100%;
}

@media (max-width: 767px) {
    #sub_nav {
        /* background-color: red; */
        
    }
    
}



ul#sub_nav a.active,
ul#sub_nav a:hover,
a#subnav0.teams.active, 
a#subnav1:hover,
ul#sub_nav a:hover
{
    color: #0A58CA  !important;
}




#logout a{
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    color: red;
}

#nav-brand {
    display: flex;
    flex-direction: row;
}
#agent-items-nav li:hover {
    background-color: #E4E4E4;
    padding: .6rem;
    border-radius: .4em;
}

#offcanvasMenu {
    background: #1D2329;
}


#offcanvasMenu .offcanvas-body p,
#offcanvasMenu .offcanvas-body a {
    color: #E4E4E4;
}



#tab-icon {
    color: #1D2329; 
  }
  #tab-icon svg {
    fill: currentColor;
  }


#main-tabs {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: .5rem 1rem .5rem 1rem;
}


.navbar-nav li.active {
    background-color: #fff;
    color: #0A58CA;
    font-weight: bold;
    box-shadow: inset 0 4px 12px -10px black;
    border-bottom: solid #0A58CA;
}

li.nav-item.active span#tab-icon {
    color: #0A58CA !important;
  }


.navbar-nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    
}


.navbar-nav li {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: start;
}

.navbar-nav li:hover {
    background-color: gray;
    transition: ease-in-out .3s;
}
#link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 100%;
    width: 100%;
}





@media (max-width: 767px) {
    #navbarNav .navbar-nav {
        display: flex;
        flex-direction: row;
        overflow: hidden;

    }

 

    #navbarNav .nav-item {
        flex: 0 0 calc(100%/5);
        max-width: calc(100%/5);
        min-width: calc(100%/5);
        height: 50px;
        box-sizing: border-box;
    }

    #link {
        display: flex;
        align-items: center;
        justify-content: center;
        color: transparent;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        flex: 1;

    }

    #link span {
        flex: 1;
        color: initial;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}




#content {
    padding: 1rem 2rem ;
    background-color: #ffff;
}



/* tickets */

form#tickets {
    width: 100%;
    padding: 1rem;
    background: #ffff;
    box-shadow: inset 0 4px 12px -10px black;

}

table.list.queue.tickets {
    width: 100%;
}




/* dashboard */




table.list {
    width: 100%;
}


table.table.two-column {
    overflow: auto;
    max-height: 62vh;
    display: block;
    width: 100%;
  }
  table.table.two-column > tbody {
    overflow: visible;
    max-height: none;
    display: table-row-group;
  }
  table.table.two-column > tbody > tr {
    display: table-row;
    width: auto;
  }


.bottom-dash-container{
    border-radius: .3rem;
    padding: 1rem;
    box-shadow: inset 0 4px 12px -10px black;


}


@media (max-width: 767px) {
    
#topic {
    overflow: auto;
    max-width: 100%;
    display: block;
    position: relative;
  }

  div#topic {
    display: none;
  }
  #dept {
    overflow: auto;
    max-width: 100%;
    display: block;
    position: relative;
  }
  
  
  .table.table-striped.table-hover.dashboard-stats.table {
    width: 100%;
    max-width: 100%;
    min-width: fit-content;
    box-sizing: border-box;
    display: table;
    margin-bottom: 0px;

  }

  tr th,
  td,
  #btn-export
  {
      font-size: .6rem;
      
  }

  #export-table, #btn-export {
      margin-top: 0;
      background-color: #1D2329;
      max-width: 60px;
      border-radius: .3em;
      text-align: center;
      color: #E4E4E4;
     
}


  #ui-datepicker-div {
    width: 100%;
    left: 0;
    right: 0;
    overflow: auto;
  }

  div#content > table.table.table-striped.table-hover.list {
    display: block;
    width: 100%;
    overflow: auto;
    max-height: 400px;
  }
  
    /* table.list {
        max-width: 100vw;
    } */

    ul.clean.tabs {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
    }
    ul.clean.tabs li {
        max-width: 20px;
    }


    div#basic_search {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        padding: 0;
        margin: 0;
      }
    
      div#basic_search > * { 
        width: auto;
        flex: 1;
        margin: 0;
        padding: 0;
      }
    
}






/* login */


#poweredBy {
    display: none;
  }