/* #tasks-table {
    width: 100%;  
    border: red;  
}

#task-table thead  th {
    background: #1D2329;
    color: #E4E4E4;
} */

#task-table-container {
    background-color: white;
    padding: 3rem;
    box-shadow: inset 0 4px 12px -10px black;
    border-radius: 1rem;
    overflow: hidden;
}